In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [30]:
bb = pd.DataFrame()

bb['actors'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
bb['ages'] = [14, 12, 11, 10, 8, 6, 8]

bb

   actors  ages
0    Greg    14
1  Marcia    12
2   Peter    11
3     Jan    10
4   Bobby     8
5   Cindy     6
6  Oliver     8

In [31]:
print(bb.mean())
print(bb.median())
print(bb.mode())

ages    9.857143
dtype: float64
ages    10.0
dtype: float64
   actors  ages
0   Bobby   8.0
1   Cindy   NaN
2    Greg   NaN
3     Jan   NaN
4  Marcia   NaN
5  Oliver   NaN
6   Peter   NaN

1. The mean is 9.857143, the median is 10, and the mode is 8.

In [32]:
bb['ages'].var()

7.476190476190475

In [33]:
np.std(bb.ages)

2.531435020952764

In [35]:
np.std(bb.ages) / np.sqrt(len(bb['ages'] -1))

0.9567925036515135

2. For central tendency I would pick the mean, it is more useful than the median and mode for the size of the data. For variance I would pick the standard error because of the low margin of error it can provide more precise estimates.

In [36]:
bb = pd.DataFrame()

bb['actors'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
bb['ages'] = [14, 12, 11, 10, 8, 7, 8]

bb

   actors  ages
0    Greg    14
1  Marcia    12
2   Peter    11
3     Jan    10
4   Bobby     8
5   Cindy     7
6  Oliver     8

In [37]:
print(bb.mean())
print(bb.median())
print(bb.mode())

ages    10.0
dtype: float64
ages    10.0
dtype: float64
   actors  ages
0   Bobby   8.0
1   Cindy   NaN
2    Greg   NaN
3     Jan   NaN
4  Marcia   NaN
5  Oliver   NaN
6   Peter   NaN

In [38]:
print(bb['ages'].var())
print(np.std(bb.ages))
print(np.std(bb.ages) / np.sqrt(len(bb['ages'] -1)))

6.333333333333333
2.32992949004287
0.8806305718527109

3. The mean increased to 10, median and mode are consistent. The variance, standard deviation, and standard error have decreased so estimates are more precise.

In [39]:
bb = pd.DataFrame()

bb['actors'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Jessica']
bb['ages'] = [14, 12, 11, 10, 8, 7, 1]

bb

    actors  ages
0     Greg    14
1   Marcia    12
2    Peter    11
3      Jan    10
4    Bobby     8
5    Cindy     7
6  Jessica     1

In [40]:
print(bb.mean())
print(bb.median())
print(bb.mode())

ages    9.0
dtype: float64
ages    10.0
dtype: float64
    actors  ages
0    Bobby     1
1    Cindy     7
2     Greg     8
3      Jan    10
4  Jessica    11
5   Marcia    12
6    Peter    14

In [41]:
print(bb['ages'].var())
print(np.std(bb.ages))
print(np.std(bb.ages) / np.sqrt(len(bb['ages'] -1)))

18.0
3.927922024247863
1.4846149779161806

4. The mean has decreased to 9, the median is consistently 10, and there is no mode. The variance has significantly increased to 18 from 6.3, the standard deviation increased from 2.3 to 3.9, and the standard error has increased from 0.8 to 1.4. This has not changed my previous decisions for the central tendency and the estimate of variance.

In [44]:
fans = pd.DataFrame()

fans['Magazine'] = ['TV_Guide', 'E_Weekly', 'Pop_Cult', 'SciPhi']
fans['percentage'] = [.20, .23, .17, .05]

fans

   Magazine  percentage
0  TV_Guide        0.20
1  E_Weekly        0.23
2  Pop_Cult        0.17
3    SciPhi        0.05

In [45]:
fans['percentage'].mean()

0.16250000000000003

5. Based on the sample data, 16.25% of adult Americans were fans.